{% extends 'base.html.twig' %}

{% block title %}Accueil / Connexion{% endblock %}

{% block body %}


<body>
    {{ include('_partials/header.html.twig') }}

    {% block nav %}
    {{ include('_partials/navbar.html.twig') }}

    {% endblock %}
    <div class="parent">
    <div class="container px-2 px-lg-2 child1">
        <div class="row gx-2 gx-lg-3 align-items-center my-5">
            <div class="col-lg-8"> 
                <img id="page" class="img-fluid rounded mb-4 mb-lg-2" src='images/salle_16.jpg' width='1000' alt="..." /> 
            </div>
            <div class="col-lg-4">
                <div class="container mt-4 child2">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card transparent-card">
                <div class="card-body">
                    <form method="post" class="text-center">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté avec {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </div>
                        {% endif %}

                        <h3 class="h3 mb-3 font-weight-normal">Connectez-vous</h3>
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputPassword" class="sr-only  mt-4">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-primary  mt-4" type="submit">Se connecter</button>
                        <p class="mt-3">Pas encore de compte ? <a href="{{ path('app_register') }}">S'inscrire</a></p>
                          <p class="mt-3">Mot de passe oublier ? <a href="{{ path('app_forgot_password_request') }}">Réinitialiser mot de passe</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            <br>

                {# <a class="btn btn-primary" href="#!">Call to Action!</a> #}
            </div>
        </div>
    </div>

</div>
</body>
{% endblock %}
